---
layout: archive
title: "Human Factors Project"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

I am currently leading a programme with Final Year medical students at the University of Bristol exploring the use of **"Gamification"** to teach **Human Factors** principles.

This project investigates how game-based learning approaches can be used to make Human Factors education more engaging and effective for medical students, with the aim of improving non-technical skills such as communication, teamwork, situational awareness, and decision-making in clinical environments.

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
